extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="Imagen sobre nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum, dolor sit amet consectetur adipisicing elit. Culpa voluptates sit, natus, saepe iure doloribus iste ea dolor cumque praesentium facere impedit minus soluta ipsam optio aspernatur architecto atque asperiores delectus, distinctio vero corrupti. Culpa sint tempora omnis recusandae laudantium quidem beatae ad consequuntur dolorem praesentium! Ipsa, accusantium aliquam nostrum ex necessitatibus esse quia illo consequatur laborum eveniet autem inventore eos quisquam amet sunt rem, nulla tempora dolore! Quas fugit perferendis laboriosam quidem, amet odio ullam.

                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas tempora beatae blanditiis cum accusamus commodi reiciendis, mollitia ipsam fugiat natus ratione sit neque obcaecati incidunt omnis pariatur quas quo ut enim veniam cumque nisi sunt.

                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta deleniti aut iure explicabo! Amet reiciendis commodi tenetur odio deserunt optio harum iure assumenda iste cumque. Quod maiores minima consequatur nemo repellendus atque.
    
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="Icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt id in quaerat magni minus, ratione et tempore voluptates doloremque exercitationem harum fuga, minima, sit sed?

                .col-md-4
                    img(src="img/icono_destinos.svg", alt="Icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt id in quaerat magni minus, ratione et tempore voluptates doloremque exercitationem harum fuga, minima, sit sed?
                    
                .col-md-4
                    img(src="img/icono_precios.svg", alt="Icono precios", class="img-fluid mb-4")
                    h2.mb-4 Mejores Precios
                    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt id in quaerat magni minus, ratione et tempore voluptates doloremque exercitationem harum fuga, minima, sit sed?